<div class="edit-destination-container">
  <h2>Editing Destination {{ destination.code }}</h2>

  <div *ngIf="showSuccessMessage" class="success-message">
    <h3>Destination successfully saved!</h3>
  </div>

  <form #destinationForm="ngForm" (ngSubmit)="saveDestination()" novalidate>

    <mat-form-field>
      <mat-label>Destination Code</mat-label>
      <input matInput name="code" required [(ngModel)]="destination.code" (ngModelChange)="validateDuplicateCode()" pattern="^[A-Z]{3}$" #codeCtrl="ngModel">
      <mat-error *ngIf="codeCtrl.invalid && codeCtrl.touched">
        <span *ngIf="codeCtrl.errors?.['required']">Destination code is required</span>
        <span *ngIf="codeCtrl.errors?.['pattern']">Must be 3 uppercase letters</span>
      </mat-error>
    </mat-form-field>
    
    <div>
    <mat-form-field>
      <mat-label>Destination Name</mat-label>
      <input matInput name="name" required [(ngModel)]="destination.name" #nameCtrl="ngModel" pattern="^[A-Za-z ]+$">
      <mat-error *ngIf="nameCtrl.errors?.['required']">Name is required</mat-error>
      <mat-error *ngIf="nameCtrl.errors?.['pattern']">Only English letters allowed</mat-error>
    </mat-form-field>
  </div>

     <div> 
    <mat-form-field>
      <mat-label>Airport Name</mat-label>
      <input matInput name="airportName" required [(ngModel)]="destination.airportName" #airportCtrl="ngModel" pattern="^[A-Za-z .]+$" >
      <mat-error *ngIf="airportCtrl.errors?.['required']">Airport name is required</mat-error>
      <mat-error *ngIf="airportCtrl.errors?.['pattern']">Only English letters allowed</mat-error>
    </mat-form-field>
    </div>

     <div> 
    <mat-form-field>
      <mat-label>Website</mat-label>
      <input matInput name="website" required [(ngModel)]="destination.website" #websiteCtrl="ngModel" pattern="https?://.+">
      <mat-error *ngIf="websiteCtrl.errors?.['required']">URL is required</mat-error>
      <mat-error *ngIf="websiteCtrl.errors?.['pattern']">Provide valid link</mat-error>
    </mat-form-field>
  </div>

     <div> 
    <mat-form-field>
      <mat-label>Image URL</mat-label>
      <input matInput name="imageUrl" required [(ngModel)]="destination.imageUrl" #imageCtrl="ngModel" pattern="https?://.+">
      <mat-error *ngIf="imageCtrl.errors?.['required']">Image URL is required</mat-error>
      <mat-error *ngIf="imageCtrl.errors?.['pattern']">Provide valid link</mat-error>
    </mat-form-field>
  </div>

     <div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" required [(ngModel)]="destination.email" #emailCtrl="ngModel" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
      <mat-error *ngIf="emailCtrl.errors?.['required']">Email is required</mat-error>
      <mat-error *ngIf="emailCtrl.errors?.['pattern']">Invalid email format</mat-error>
    </mat-form-field>
  </div>

  <div class="button-container">
    <button mat-raised-button type="submit" color="primary" class="save-button" [disabled]="destinationForm.invalid">
      Save Destination
    </button>
  </div>

  </form>
</div>
