<mat-stepper [linear]="true" [selectedIndex]="1" (selectionChange)="navigateToStep($event.selectedIndex)">
  <mat-step label="passenger details" completed></mat-step>

  <mat-step label="add luggage">
    <ng-container *ngIf="true">

<mat-card class="passenger-list-container">
<h2 class="title">Manage Luggage</h2>

<div class="passenger-list">
  <app-passenger
    *ngFor="let passenger of passengers"
    [passenger]="passenger"
    [bookingId]="bookingId"
    (manageLuggage)="updatePassengerLuggage($event)">
  </app-passenger>
</div>

<div class="button-container">
  <button mat-raised-button color="primary" (click)="saveLuggage()">Save Luggage</button>
</div>
</mat-card>

</ng-container>
</mat-step>

<mat-step label="confirm booking" disabled></mat-step>
</mat-stepper>