<mat-card class="booking-card">
  <h2>{{ booking ? 'Edit Booking ' + booking.bookingId + '' : 'Book Flight' }}</h2>

  <div *ngIf="showSuccessMessage" class="success-message">
    <h3>Booking successfully saved!</h3>
  </div>

  <div *ngIf="flight">
    <p><strong>Flight No:</strong> {{ flight.flightNumber }}</p>
    <p><strong>Origin:</strong> {{ flight.origin }}</p>
    <p><strong>Destination:</strong> {{ flight.destination }}</p>
    <p><strong>Boarding Date:</strong> {{ flight.boardingDate | date: 'dd/MM/yyyy HH:mm' }}</p>
    <p><strong>Arrival Date:</strong> {{ flight.arrivalDate | date: 'dd/MM/yyyy HH:mm' }}</p>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Number of Passengers</mat-label>
    <input matInput type="number" [(ngModel)]="numberOfPassengers" required (input)="updatePassengers()" min="1"  [max]="flight?.numberOfSeats ?? 1" #passengerInput="ngModel">
    <mat-error *ngIf="passengerInput?.errors?.['required']">Number of passenger is required</mat-error>
    <mat-error *ngIf="passengerInput?.errors?.['min']">At least 1 passenger is required</mat-error>
    <mat-error *ngIf="passengerInput.value > (flight?.numberOfSeats ?? 1)">Can't exceed available seats ({{ flight?.numberOfSeats ?? 1 }})</mat-error>
  </mat-form-field>

  <div *ngIf="numberOfPassengers && numberOfPassengers >= 1">
  <div *ngFor="let passenger of passengers">
    <app-passenger 
      [passenger]="passenger" 
      [bookingId]="bookingId ?? ''"
      (manageLuggage)="openLuggageDialog($event)">
    </app-passenger>
  </div>
  </div>

  <div class="button-container">
  <button mat-raised-button color="primary" (click)="saveBooking()" [disabled]="isFormInvalid">
    {{ booking?.bookingId ? 'Update Booking' : 'Confirm Booking' }}
  </button>
  </div>
</mat-card>
