<div class="help-container">
    <h2 mat-typography class="help-title">Help</h2>
    <p class="help-intro">
      Welcome to <strong>OnoAir</strong> Help page 😊<br>
  
    </p>
    <ul class="help-list">
      <li>
        <strong>How to search for a flight?</strong><br>
        <li>
        Use the search engine at the top of the page to find flights by dates and destinations.
      </li>
      <li>
        <strong>How to book a flight?</strong><br>
        <li>
        Choose a flight from the list and click the "Book" button.
      </li>
      <li>
        <strong>Who to contact in case of an issue?</strong><br>
        <li>
        Reach out to our customer support team via email at <a href="mailto:info&#64;onoair.com">info&#64;onoair.com</a>.
      </li>
    </ul>
  </div>
  
  
  
  