<h2 mat-dialog-title>Cancel Destination</h2>

<div mat-dialog-content>
  <p *ngIf="data.errorMessage; else confirmMessage">{{ data.errorMessage }}</p>
  
  <ng-template #confirmMessage>
    <p>Are you sure you want to cancel destination <strong>{{ data.destinationCode }}</strong>?</p>
  </ng-template>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">No</button>
  <button mat-button color="warn" *ngIf="!data.errorMessage" (click)="confirmCancel()">Yes</button>
</div>
