.my-bookings-container {
  padding: 16px;
}

h2 {
  margin: 16px 0;
  text-align: center;
  color: #3f51b5; 
}

.booking-item {
  display: flex;
  align-items: center;
  margin: 16px auto; 
  border: 1px solid #ccc;
  padding: 10px; 
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 80%; 
  position: relative;
}

.image-container {
  flex-shrink: 0; 
  align-items: center; 
  justify-content: center; 
}

.destination-image {
  width: 120px; 
  height: 120px; 
  object-fit: cover; 
  border-radius: 8px; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
  margin-right: 16px; 
}

.details-container {
  flex: 1;
}

.view-button {
  background-color: white;
  color: #3f51b5;
  border-radius: 24px; 
  padding: 10px 16px; 
  cursor: pointer;
  float: right;
  transition: background-color 0.3s, color 0.3s; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}


