<div class="destinations-container">
    <h2 class="title">Manage Destinations</h2>
    <table mat-table [dataSource]="destinations" class="mat-elevation-z8">

        <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let destination"> {{ destination.code }} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let destination"> {{ destination.name }} </td>
      </ng-container>
  
      <ng-container matColumnDef="airportName">
        <th mat-header-cell *matHeaderCellDef> Airport Name </th>
        <td mat-cell *matCellDef="let destination"> {{ destination.airportName }} </td>
      </ng-container>
  
      <ng-container matColumnDef="website">
        <th mat-header-cell *matHeaderCellDef> Airport Url </th>
        <td mat-cell *matCellDef="let destination">
          <a [href]="destination.website" target="_blank">{{ destination.website }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let destination">
          <a href="mailto:{{ destination.email }}">{{ destination.email }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let destination">
          <img [src]="destination.imageUrl" alt="{{ destination.name }}" class="destination-image" />
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let destination">
          <span [ngClass]="{
            'status-active': destination.status === 'Active',
            'status-cancelled': destination.status === 'Cancelled'
          }">
          {{ destination.status }}
          </span>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let destination">
          <button mat-icon-button color="primary" [routerLink]="['/view-destination', destination.code]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="toggleDestinationStatus(destination)">
            <mat-icon>{{ destination.status === 'Active' ? 'cancel' : 'restart_alt' }}</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  