<h2 mat-dialog-title>Add Luggage - {{ data.name }}</h2>

<mat-dialog-content>

  <mat-form-field class="luggage-field">
    <mat-label>Number of Cabin Bags (max 8kg each)</mat-label>
    <input matInput type="number" [(ngModel)]="cabinCount" min="0" max="9" (ngModelChange)="updateLuggage('cabin', $event)" />
  </mat-form-field>

  <mat-form-field class="luggage-field">
    <mat-label>Number of Checked Bags (max 23kg each)</mat-label>
    <input matInput type="number" [(ngModel)]="checkedCount" min="0" max="9" (ngModelChange)="updateLuggage('checked', $event)" />
  </mat-form-field>

  <mat-form-field class="luggage-field">
    <mat-label>Number of Heavy Bags (any weight)</mat-label>
    <input matInput type="number" [(ngModel)]="heavyCount" min="0" max="9" (ngModelChange)="updateLuggage('heavy', $event)" />
  </mat-form-field>

  <mat-error *ngIf="totalItems > 9">Total items cannot exceed 9!</mat-error>

<div *ngIf="luggage.cabin.length > 0">
  <h4>Cabin Bags</h4>
  <mat-form-field class="luggage-field" *ngFor="let item of luggage.cabin; let i = index; trackBy: trackByIndex">
    <mat-label>Weight for Cabin Bag {{ i + 1 }} (max 8kg)</mat-label>
    <input matInput type="number" [(ngModel)]="luggage.cabin[i]" min="0" max="8"
           #weightInput="ngModel"
           placeholder="Enter weight" />
    
    <mat-error *ngIf="weightInput.errors?.['min']">Weight must be at least 0</mat-error>
    <mat-error *ngIf="weightInput.errors?.['max']">Cabin bag weight cannot exceed 8kg!</mat-error>
  </mat-form-field>
</div>

<div *ngIf="luggage.checked.length > 0">
  <h4>Checked Bags</h4>
  <mat-form-field class="luggage-field" *ngFor="let item of luggage.checked; let i = index; trackBy: trackByIndex">
    <mat-label>Weight for Checked Bag {{ i + 1 }} (max 23kg)</mat-label>
    <input matInput type="number" [(ngModel)]="luggage.checked[i]" min="0" max="23"
           #weightInput="ngModel"
           placeholder="Enter weight" />
    
    <mat-error *ngIf="weightInput.errors?.['min']">Weight must be at least 0</mat-error>
    <mat-error *ngIf="weightInput.errors?.['max']">Checked bag weight cannot exceed 23kg!</mat-error>
  </mat-form-field>
</div>

<div *ngIf="luggage.heavy.length > 0">
  <h4>Heavy Bags</h4>
  <mat-form-field class="luggage-field" *ngFor="let item of luggage.heavy; let i = index; trackBy: trackByIndex">
    <mat-label>Weight for Heavy Bag {{ i + 1 }}</mat-label>
    <input matInput type="number" [(ngModel)]="luggage.heavy[i]" min="0"
           #weightInput="ngModel"
           placeholder="Enter weight" />

    <mat-error *ngIf="weightInput.errors?.['min']">Weight must be at least 0</mat-error>
  </mat-form-field>
</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="saveChanges()" [disabled]="totalItems > 9" >Save Changes</button>
</mat-dialog-actions>
