.last-minute-flight {
    width: 210px;
    height: 280px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }  
  
  .destination-image {
    width: 100%;
    height: 120px; 
    object-fit: cover; 
    border-radius: 4px;
    margin-bottom: 10px;
  }  
  
  .flight-details {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  button {
    width: 42%; 
    margin: 10px auto; 
  }