<div class="last-minute-flight">
    <img [src]="flight.imageUrl" alt="{{ flight.destination }}" class="destination-image" />
    <div class="flight-details">
      <p><strong>From:</strong> {{ flight.origin }} {{ flight.boardingDate | date: 'dd.MM.yyyy HH:mm' }}</p>
      <p><strong>To:</strong> {{ flight.destination }} {{ flight.arrivalDate | date: 'dd.MM.yyyy HH:mm' }}</p>
      <button mat-raised-button color="primary" [routerLink]="['/book', flight.flightNumber]">
        Book
      </button>
    </div>
  </div>
  