.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: #3f51b5; 
  color: #ffffff; 
  height: 60px; 
  padding: 0 1rem; 
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.footer-icon {
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

.footer-icon:hover {
  color: #bbdefb;
}

.footer-text {
  font-size: 0.875rem;
  font-weight: normal;
  margin: 0; 
  text-align: center;
}